@import "bourbon";
@import "font-awesome";

$color : blue;

body {
  background: #e2ebf3;

}
h1{
	display:inline-block;
	color:#00458E;
	font-size : 4em;
}
.data{
	margin-bottom :35px;
	border-bottom : 1px solid Black;
}

h3{	
	padding-left: 7	0px;
	vertical-align:top;
	display: inline-block;
	margin-top :20px; 	
	vertical-align : middle;
	font-size:7em;
	margin-bottom :0;
}

#bull{
	//background: url('./images/noun_22237_cc.png') no-repeat -26px -33px;
	background-size: 350px 350px;
	width: 40px;
	height: 50px;
}

#bears{
	//background: url('imgs/noun_56284_cc.png') no-repeat -39px -73px;
	background-size: 350px 350px;
	width: 50px;
	height: 55px;
}


h6{
	display: inline-block;
	text-align:right;
	padding-right:20px;
	font-style : Italic;
	font-size: 0.9em;
	margin-left :80%;
	font-family: 'IM Fell Great Primer', serif;
	margin-top : 0;
	// color:#00458E;
	color :red;
}
#share{
	color: red;
}

.holder{
	display: inline-block;
	border :2px solid #00458E;
	border-radius : 5px;
	width : 90%;
	margin: 5px 50px;
	//margin-bottom :20px;
}

li{
	margin : 0 auto;
	display : inline-block;
	width : 70%;
	list-style : none ; 
	padding : 15px 0 10px 15px;
	text-align :left;
	font-style : italic;
	font-size : 15px;
}

button{
	display : inline-block;
	vertical-align :middle;
	padding : 10px 15px;
	margin-bottom : 50px;
	background:#00458E;
	color : orange;
	border: none;
	border-radius : 5px ;
	shadow : none;
}


span{
	color:Red;
	font-weight: bold;
}
